html,
body {
  height: 100%;
  font-family: helvetica, sans-serif;
  font-size: 1.25em;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result {
  text-align: center;
  margin-bottom: 1rem;
}

button {
  margin: 0.5rem;
  font-size: 18px;
}


/*TODO: Try to make the options buttons fixed in place? */